.container{
    margin-top: 1%;
}

h1{
    font-family: 'Sedgwick Ave Display', cursive;
}

h2{
    font-family: 'Sedgwick Ave Display', cursive;
}

h4{
    font-family: 'Sedgwick Ave Display', cursive;
}

p{
    font-family: 'Sedgwick Ave Display', cursive;
}
