.wrapper {
    position: absolute;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.wrapper ul{
    list-style: none;
}

.wrapper li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #d8e2dc;
    float: left;
    transition: all 0.5s ease;
}

.wrapper ul li .fa{
    color: #d8e2dc;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.github {
    border: 5px solid #333;
    box-shadow: 0 0 15px #333;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
    color: #333;
    text-shadow: 0 0 15px #333;
    transition: all 0.5s ease;
}

.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 350px;
    }
    .wrapper ul li {
        margin-top: 10px;
    }
}

@media screen and (max-width: 340x) {
    .wrapper {
        width: 150px;
    }
    .wrapper ul li {
        margin-top: 15px;
    }
}
