.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardM{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .4);
    transition: 1s;
}

.cardM:hover{
    transform: translateX(50%);
}

.cardM .imgBox{ 
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transform-origin: left;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .4);
    z-index: 10;
    transition: 1s;
}

.cardM .imgBox:hover{
    transform: rotateY(-180deg);
}

.imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.imgBox img:nth-child(2){
    transform: rotateY(-180deg);
}

.details{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.v-line{
    border-left:solid grey;
    height: 100%;
    width: 50%;
    position: absolute;
}

hr{
    border: solid grey;
}